
    h1 {color: blue;}
p1 {color: rgb(231, 93, 65); font: 1em sans-serif; size: 0cqb;
}
body{display: grid; place-items: center}


h2{color: blueviolet;}

p2{color: rgba(227, 28, 227, 0.877);}



h3{color: rgb(11, 224, 0);}
.img-leg{width: 600px;}



.boop{color: darkred;}
.vid{width: 600px;}
